.gh-tags-mobile {
    display: grid;
    row-gap: 25px;
}

@media (max-width: 1024px) {
    .gh-tags-desktop {
        display: none !important;
    }
}

.gh-tag-card {
    display: grid !important;
    grid-template-rows: 45vh auto;
    grid-template-columns: 40px 1fr;
    height: auto;
}

.gh-tag-card-name-bar {
    background-color: #fff7f4;
    border-color: #121212;
    color: #121212;
    border-left: 1px solid var(--color-border);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.gh-tag-card-name-bar-text {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.3;
    letter-spacing: 2.5px;
    /* transform: rotate(90deg); */
    text-wrap: nowrap;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}

.gh-tag-card-image {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;
}

.gh-tag-card-image-img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    -o-object-fit: cover;
    overflow: hidden;
}

.gh-tag-card-link {
    align-self: self-end;
    background-color: #fff7f4;
    font-family: var(--font-mono);
    grid-area: 1 / 2 / 1 / 2;
    height: max-content;
    justify-self: end;
    padding: 13px 15px;
    width: max-content;
    z-index: 1;
}

.gh-tag-card-desc {
    background-color: #121212;
    color: #fff7f4;
    grid-column: span 2;
    padding: 15px;
}

.gh-tag-card-desc-title {
    border-bottom: 1px solid;
    border-color: #fff7f4;
    font-family: var(--font-mono);
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.gh-tag-card-desc-content {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    line-height: 1.5;
}

/* 桌面端 */
@media (min-width: 1024px) {
    .gh-tags-mobile {
        display: none !important;
    }

    .gh-tag-card {
        grid-template-columns: 65px 1fr;
        grid-template-rows: 1fr auto;

        display: block;
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .gh-tags-swiper {
        width: 100%;
        height: auto;
        overflow: hidden; /* Prevent default scrollbars */
        scroll-behavior: smooth; /* Smooth horizontal scrolling */
      }

    .gh-tags-desktop .swiper-slide {
        flex-shrink: 0;
        /* height: 100%; */
        position: relative;
        transition-property: transform;
        width: 100%;

        max-height: calc(100vh - 110px);
        height: calc(100vh - 110px);
        min-height: 500px;
        min-width: 350px;
    }

    .gh-tag-card-name-bar {
        padding: 14px;
    }
}